# =============================================================================
# Granula API - OpenAPI 3.0 Specification
# =============================================================================
# Полная документация REST API для сервиса планирования ремонта и перепланировки.
#
# Версия: 1.1.0
# Дата: 2025-11-30
# =============================================================================

openapi: 3.0.3

info:
  title: Granula API
  version: 1.1.0
  description: |
    # Granula API

    API для интеллектуального сервиса планирования ремонта и перепланировки квартир.

    ## Возможности

    - 🏠 **Загрузка планировок** - Загружайте изображения планировок для автоматического распознавания
    - 🤖 **AI распознавание** - Автоматическое распознавание комнат, стен и элементов
    - 🎨 **3D редактор** - Редактирование планировки в интерактивном 3D редакторе
    - ✅ **Проверка норм** - Автоматическая проверка на соответствие СНиП и ЖК РФ
    - 💡 **AI генерация** - Генерация вариантов планировки с помощью AI
    - 📋 **Заявки экспертам** - Подача заявок на консультации специалистов БТИ

    ## Аутентификация

    API использует JWT (JSON Web Tokens) для аутентификации.

    ### Получение токенов

    1. Зарегистрируйтесь через `POST /api/v1/auth/register`
    2. Или войдите через `POST /api/v1/auth/login`
    3. Получите `access_token` и `refresh_token`

    ### Использование токенов

    Передавайте Access Token в заголовке Authorization:
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    ### Обновление токенов

    Access Token действует 15 минут. Для обновления используйте `POST /api/v1/auth/refresh`

    ## Rate Limiting

    | Тип запроса | Лимит |
    |-------------|-------|
    | Анонимные | 60 req/min |
    | Аутентифицированные | 300 req/min |
    | AI endpoints | 30 req/min |

    При превышении лимита возвращается HTTP 429.

    ## Коды ошибок

    | Код | Описание |
    |-----|----------|
    | VALIDATION_ERROR | Ошибка валидации входных данных |
    | UNAUTHORIZED | Требуется аутентификация |
    | FORBIDDEN | Недостаточно прав |
    | NOT_FOUND | Ресурс не найден |
    | CONFLICT | Конфликт (например, дублирование) |
    | RATE_LIMITED | Превышен лимит запросов |
    | INTERNAL_ERROR | Внутренняя ошибка сервера |

  termsOfService: https://granula.ru/terms
  contact:
    name: Granula API Support
    url: https://granula.ru/support
    email: api@granula.ru
  license:
    name: Proprietary
    url: https://granula.ru/license

servers:
  - url: https://api.granula.raitokyokai.tech/api/v1
    description: Production сервер
  - url: http://localhost:3001/api/v1
    description: Локальная разработка

tags:
  - name: auth
    description: Аутентификация и управление сессиями
  - name: users
    description: Профили пользователей
  - name: workspaces
    description: Рабочие пространства для проектов
  - name: floor-plans
    description: Загрузка и обработка планировок
  - name: scenes
    description: 3D сцены и элементы
  - name: branches
    description: Ветки дизайна (версионирование)
  - name: ai
    description: AI сервисы (распознавание, генерация, чат)
  - name: compliance
    description: Проверка соответствия СНиП и ЖК РФ
  - name: requests
    description: Заявки на услуги экспертов БТИ
  - name: notifications
    description: Уведомления пользователей

# =============================================================================
# Security Schemes
# =============================================================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен. Получите через `/auth/login` или `/auth/register`. Формат - `Bearer <token>`

  # ===========================================================================
  # Schemas
  # ===========================================================================
  schemas:
    # -------------------------------------------------------------------------
    # Error Responses
    # -------------------------------------------------------------------------
    Error:
      type: object
      properties:
        error:
          type: string
          description: Описание ошибки
          example: unauthorized
        message:
          type: string
          description: Детальное сообщение
          example: Invalid token
        request_id:
          type: string
          description: ID запроса для отладки
          example: req-abc123

    ValidationError:
      type: object
      properties:
        error:
          type: string
          example: validation_error
        details:
          type: object
          additionalProperties:
            type: string
          example:
            email: "invalid email format"
            password: "minimum 8 characters"

    # -------------------------------------------------------------------------
    # Success Response
    # -------------------------------------------------------------------------
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Operation completed successfully
        request_id:
          type: string

    # -------------------------------------------------------------------------
    # Pagination
    # -------------------------------------------------------------------------
    Pagination:
      type: object
      properties:
        total:
          type: integer
          example: 150
        page:
          type: integer
          example: 1
        page_size:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 8

    # -------------------------------------------------------------------------
    # Auth Schemas
    # -------------------------------------------------------------------------
    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          minLength: 8
          example: SecurePass123!
        name:
          type: string
          minLength: 2
          example: Иван Петров

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          example: SecurePass123!

    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            user_id:
              type: string
              format: uuid
            access_token:
              type: string
            refresh_token:
              type: string
            expires_in:
              type: integer
              description: Секунды до истечения access_token
        message:
          type: string
        request_id:
          type: string

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    LogoutRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    # -------------------------------------------------------------------------
    # User Schemas
    # -------------------------------------------------------------------------
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        avatar_url:
          type: string
          format: uri
        phone:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 255
        phone:
          type: string

    ChangePasswordRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password:
          type: string
        new_password:
          type: string
          minLength: 8

    # -------------------------------------------------------------------------
    # Notification Schemas
    # -------------------------------------------------------------------------
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [info, warning, error, success, system]
        title:
          type: string
        message:
          type: string
        is_read:
          type: boolean
        metadata:
          type: object
        created_at:
          type: string
          format: date-time

    NotificationList:
      type: object
      properties:
        data:
          type: object
          properties:
            notifications:
              type: array
              items:
                $ref: "#/components/schemas/Notification"
            pagination:
              $ref: "#/components/schemas/Pagination"

    UnreadCount:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer

    # -------------------------------------------------------------------------
    # Workspace Schemas
    # -------------------------------------------------------------------------
    Workspace:
      type: object
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        member_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateWorkspaceRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
        description:
          type: string
          maxLength: 1000

    UpdateWorkspaceRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    Member:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [owner, admin, editor, viewer]
        joined_at:
          type: string
          format: date-time

    AddMemberRequest:
      type: object
      required: [user_id, role]
      properties:
        user_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [admin, editor, viewer]

    # -------------------------------------------------------------------------
    # Floor Plan Schemas
    # -------------------------------------------------------------------------
    FloorPlan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        address:
          type: string
        status:
          type: string
          enum: [uploaded, processing, recognized, failed]
        image_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        scene_id:
          type: string
          format: uuid
        recognition_result:
          $ref: "#/components/schemas/RecognitionResult"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RecognitionResult:
      type: object
      properties:
        rooms_count:
          type: integer
        total_area:
          type: number
          format: float
        living_area:
          type: number
          format: float
        confidence:
          type: number
          format: float
        rooms:
          type: array
          items:
            $ref: "#/components/schemas/RecognizedRoom"

    RecognizedRoom:
      type: object
      properties:
        type:
          type: string
          enum:
            [
              living_room,
              bedroom,
              kitchen,
              bathroom,
              toilet,
              hallway,
              balcony,
              storage,
              other,
            ]
        name:
          type: string
        area:
          type: number
          format: float

    UpdateFloorPlanRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        address:
          type: string

    RecognitionStatus:
      type: object
      properties:
        data:
          type: object
          properties:
            job_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [pending, processing, completed, failed]
            progress:
              type: integer
              description: Progress 0-100
            result:
              $ref: "#/components/schemas/AIRecognitionResult"
            error:
              type: string

    # -------------------------------------------------------------------------
    # Scene Schemas
    # -------------------------------------------------------------------------
    Scene:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        floor_plan_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, archived]
        element_count:
          type: integer
        branch_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateSceneRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        floor_plan_id:
          type: string
          format: uuid

    UpdateSceneRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, archived]

    SceneComplianceResult:
      type: object
      properties:
        data:
          type: object
          properties:
            scene_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [passed, warning, failed]
            violations:
              type: array
              items:
                $ref: "#/components/schemas/Violation"
            checked_at:
              type: string
              format: date-time

    # -------------------------------------------------------------------------
    # Branch Schemas
    # -------------------------------------------------------------------------
    Branch:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scene_id:
          type: string
          format: uuid
        parent_branch_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, archived, merged]
        is_main:
          type: boolean
        created_by:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateBranchRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 2
        description:
          type: string
        parent_branch_id:
          type: string
          format: uuid

    UpdateBranchRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    BranchComparison:
      type: object
      properties:
        data:
          type: object
          properties:
            source_branch:
              $ref: "#/components/schemas/Branch"
            target_branch:
              $ref: "#/components/schemas/Branch"
            differences:
              type: array
              items:
                type: object
                properties:
                  element_id:
                    type: string
                  change_type:
                    type: string
                    enum: [added, removed, modified]
                  description:
                    type: string

    MergeBranchRequest:
      type: object
      required: [target_branch_id]
      properties:
        target_branch_id:
          type: string
          format: uuid
        strategy:
          type: string
          enum: [overwrite, merge]
          default: merge

    # -------------------------------------------------------------------------
    # Compliance Schemas
    # -------------------------------------------------------------------------
    ComplianceCheckRequest:
      type: object
      required: [scene_id]
      properties:
        scene_id:
          type: string
          format: uuid
        branch_id:
          type: string
          format: uuid
        categories:
          type: array
          items:
            type: string

    ComplianceCheckResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            check_id:
              type: string
              format: uuid
            scene_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [passed, warning, failed]
            score:
              type: integer
              description: 0-100
            violation_count:
              type: integer
            warning_count:
              type: integer
            violations:
              type: array
              items:
                $ref: "#/components/schemas/Violation"
            checked_at:
              type: string
              format: date-time

    CheckOperationRequest:
      type: object
      required: [scene_id, operation]
      properties:
        scene_id:
          type: string
          format: uuid
        branch_id:
          type: string
          format: uuid
        operation:
          type: object
          properties:
            type:
              type: string
              enum:
                [
                  add_wall,
                  remove_wall,
                  move_wall,
                  add_room,
                  remove_room,
                  merge_rooms,
                ]
            element_id:
              type: string
              format: uuid
            parameters:
              type: object

    Violation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        rule_id:
          type: string
        rule_name:
          type: string
        category:
          type: string
        severity:
          type: string
          enum: [error, warning, info]
        description:
          type: string
        recommendations:
          type: array
          items:
            type: string
        legal_reference:
          type: string

    ComplianceRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [error, warning, info]
        legal_reference:
          type: string
        is_active:
          type: boolean

    GenerateReportRequest:
      type: object
      required: [scene_id]
      properties:
        scene_id:
          type: string
          format: uuid
        branch_id:
          type: string
          format: uuid
        format:
          type: string
          enum: [pdf, html, json]
          default: pdf
        include_recommendations:
          type: boolean
          default: true

    # -------------------------------------------------------------------------
    # Request (Expert) Schemas
    # -------------------------------------------------------------------------
    ExpertRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [consultation, documentation, expert_visit, full_package]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        status:
          type: string
          enum:
            [
              draft,
              pending,
              in_review,
              approved,
              rejected,
              assigned,
              in_progress,
              completed,
              cancelled,
            ]
        expert_id:
          type: string
          format: uuid
        estimated_cost:
          type: integer
        final_cost:
          type: integer
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateExpertRequestRequest:
      type: object
      required: [workspace_id, title, description, category]
      properties:
        workspace_id:
          type: string
          format: uuid
        title:
          type: string
          minLength: 5
          maxLength: 200
        description:
          type: string
          minLength: 10
        category:
          type: string
          enum: [consultation, documentation, expert_visit, full_package]
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: normal
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email

    UpdateExpertRequestRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, normal, high, urgent]
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email

    RequestDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
        request_id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        url:
          type: string
          format: uri
        uploaded_at:
          type: string
          format: date-time

    # -------------------------------------------------------------------------
    # AI Schemas
    # -------------------------------------------------------------------------
    RecognizeRequest:
      type: object
      required: [floor_plan_id]
      properties:
        floor_plan_id:
          type: string
          format: uuid
          description: ID планировки для распознавания
        image_base64:
          type: string
          description: Base64-encoded изображение (альтернатива floor_plan_id)
        options:
          type: object
          properties:
            detect_load_bearing:
              type: boolean
              default: true
              description: Определять несущие стены
            detect_wet_zones:
              type: boolean
              default: true
              description: Определять мокрые зоны
            detect_furniture:
              type: boolean
              default: true
              description: Определять мебель и оборудование
            detail_level:
              type: integer
              minimum: 1
              maximum: 3
              default: 2
              description: Уровень детализации (1-3)

    RecognizeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            job_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [pending, processing, completed, failed]
            success:
              type: boolean

    AIRecognitionResult:
      type: object
      description: Полный результат распознавания для 3D модели
      properties:
        bounds:
          type: object
          description: Габариты квартиры в метрах
          properties:
            width:
              type: number
              description: Ширина по X
            height:
              type: number
              description: Высота потолков
            depth:
              type: number
              description: Глубина по Z
        total_area:
          type: number
          description: Общая площадь в м²
        stats:
          type: object
          properties:
            totalArea:
              type: number
            roomsCount:
              type: integer
            wallsCount:
              type: integer
            furnitureCount:
              type: integer
        walls:
          type: array
          items:
            $ref: "#/components/schemas/RecognizedWall3D"
        rooms:
          type: array
          items:
            $ref: "#/components/schemas/RecognizedRoom3D"
        openings:
          type: array
          items:
            $ref: "#/components/schemas/RecognizedOpening"
        recognition:
          type: object
          properties:
            sourceType:
              type: string
              enum: [BTI, technical_passport, architect_plan, sketch, photo]
            quality:
              type: string
              enum: [high, medium, low]
            scale:
              type: string
            buildingType:
              type: string
              enum: [panel, brick, monolith, block, frame, unknown]

    RecognizedWall3D:
      type: object
      properties:
        temp_id:
          type: string
        start:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
        end:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
        thickness:
          type: number
          description: Толщина в метрах (0.08-0.50)
        is_load_bearing:
          type: boolean
          description: Несущая стена
        material:
          type: string
          enum: [brick, concrete, drywall, block, panel, foam_block, gas_block]
        can_demolish:
          type: boolean
        confidence:
          type: number
          minimum: 0
          maximum: 1

    RecognizedRoom3D:
      type: object
      properties:
        temp_id:
          type: string
        type:
          type: string
          enum: [living, bedroom, kitchen, bathroom, toilet, combined_bathroom, hallway, corridor, storage, balcony, loggia, children, office, dining]
        name:
          type: string
        polygon:
          type: array
          items:
            type: object
            properties:
              x:
                type: number
              y:
                type: number
        area:
          type: number
        perimeter:
          type: number
        is_wet_zone:
          type: boolean
        has_window:
          type: boolean
        wall_ids:
          type: array
          items:
            type: string
        confidence:
          type: number

    RecognizedOpening:
      type: object
      properties:
        temp_id:
          type: string
        type:
          type: string
          enum: [door, window, passage, arch]
        subtype:
          type: string
          enum: [single_swing, double_swing, sliding, entrance, balcony, panoramic]
        wall_id:
          type: string
        position:
          type: number
          description: Позиция от начала стены в метрах
        width:
          type: number
        height:
          type: number
        elevation:
          type: number
          description: Высота от пола (0 для дверей, 0.85 для окон)
        confidence:
          type: number

    GenerateVariantsRequest:
      type: object
      required: [scene_id, count]
      properties:
        scene_id:
          type: string
          format: uuid
        branch_id:
          type: string
          format: uuid
        count:
          type: integer
          minimum: 1
          maximum: 5
        style:
          type: string
          enum: [modern, classic, minimalist, scandinavian, loft]
        priorities:
          type: array
          items:
            type: string
        constraints:
          type: object

    GenerateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            job_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [queued, processing]

    GenerationStatus:
      type: object
      properties:
        data:
          type: object
          properties:
            job_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [queued, processing, completed, failed]
            progress:
              type: integer
            variants:
              type: array
              items:
                $ref: "#/components/schemas/GeneratedVariant"
            error:
              type: string

    GeneratedVariant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        branch_id:
          type: string
          format: uuid
        quality_score:
          type: integer
        preview_url:
          type: string
          format: uri

    ChatMessageRequest:
      type: object
      required: [message]
      properties:
        session_id:
          type: string
          format: uuid
        message:
          type: string
          minLength: 1
          maxLength: 4000
        scene_id:
          type: string
          format: uuid

    ChatMessageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            session_id:
              type: string
              format: uuid
            message_id:
              type: string
              format: uuid
            response:
              type: string
            suggestions:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  description:
                    type: string

    ChatHistory:
      type: object
      properties:
        data:
          type: object
          properties:
            session_id:
              type: string
              format: uuid
            messages:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum: [user, assistant]
                  content:
                    type: string
                  created_at:
                    type: string
                    format: date-time

# =============================================================================
# Paths
# =============================================================================
paths:
  # ---------------------------------------------------------------------------
  # Auth Endpoints
  # ---------------------------------------------------------------------------
  /auth/register:
    post:
      tags: [auth]
      summary: Регистрация пользователя
      description: Создает новую учетную запись и возвращает токены
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Успешная регистрация
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "409":
          description: Email уже зарегистрирован

  /auth/login:
    post:
      tags: [auth]
      summary: Вход в систему
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Неверные учетные данные

  /auth/refresh:
    post:
      tags: [auth]
      summary: Обновление токенов
      operationId: refreshTokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Недействительный refresh token

  /auth/logout:
    post:
      tags: [auth]
      summary: Выход из системы
      operationId: logout
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
      responses:
        "200":
          description: Успешный выход
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /auth/logout-all:
    post:
      tags: [auth]
      summary: Выход со всех устройств
      description: Инвалидирует все refresh токены пользователя
      operationId: logoutAll
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Выход со всех устройств выполнен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  # ---------------------------------------------------------------------------
  # User Endpoints
  # ---------------------------------------------------------------------------
  /users/me:
    get:
      tags: [users]
      summary: Получить профиль
      operationId: getProfile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Профиль пользователя
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          description: Не авторизован

    patch:
      tags: [users]
      summary: Обновить профиль
      operationId: updateProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: Профиль обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"

    delete:
      tags: [users]
      summary: Удалить аккаунт
      description: Полностью удаляет учетную запись пользователя
      operationId: deleteAccount
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Аккаунт удален
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /users/me/password:
    put:
      tags: [users]
      summary: Сменить пароль
      operationId: changePassword
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: Пароль изменен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Неверный текущий пароль

  # ---------------------------------------------------------------------------
  # Notification Endpoints
  # ---------------------------------------------------------------------------
  /notifications:
    get:
      tags: [notifications]
      summary: Список уведомлений
      operationId: getNotifications
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
        - name: is_read
          in: query
          description: Фильтр по статусу прочтения
          schema:
            type: boolean
      responses:
        "200":
          description: Список уведомлений
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationList"

    delete:
      tags: [notifications]
      summary: Удалить все прочитанные уведомления
      operationId: deleteAllReadNotifications
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Уведомления удалены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /notifications/count:
    get:
      tags: [notifications]
      summary: Количество непрочитанных
      operationId: getUnreadCount
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Количество непрочитанных уведомлений
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnreadCount"

  /notifications/{id}/read:
    post:
      tags: [notifications]
      summary: Отметить как прочитанное
      operationId: markAsRead
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Отмечено как прочитанное
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /notifications/read-all:
    post:
      tags: [notifications]
      summary: Отметить все как прочитанные
      operationId: markAllAsRead
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Все уведомления отмечены как прочитанные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /notifications/{id}:
    delete:
      tags: [notifications]
      summary: Удалить уведомление
      operationId: deleteNotification
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Уведомление удалено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  # ---------------------------------------------------------------------------
  # Workspace Endpoints
  # ---------------------------------------------------------------------------
  /workspaces:
    get:
      tags: [workspaces]
      summary: Список воркспейсов
      operationId: listWorkspaces
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
        - name: name
          in: query
          description: Фильтр по названию
          schema:
            type: string
      responses:
        "200":
          description: Список воркспейсов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      workspaces:
                        type: array
                        items:
                          $ref: "#/components/schemas/Workspace"
                      pagination:
                        $ref: "#/components/schemas/Pagination"

    post:
      tags: [workspaces]
      summary: Создать воркспейс
      operationId: createWorkspace
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceRequest"
      responses:
        "201":
          description: Воркспейс создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Workspace"

  /workspaces/{id}:
    get:
      tags: [workspaces]
      summary: Получить воркспейс
      operationId: getWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные воркспейса
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Workspace"
        "404":
          description: Не найден

    patch:
      tags: [workspaces]
      summary: Обновить воркспейс
      operationId: updateWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWorkspaceRequest"
      responses:
        "200":
          description: Воркспейс обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Workspace"

    delete:
      tags: [workspaces]
      summary: Удалить воркспейс
      operationId: deleteWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Воркспейс удален
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /workspaces/{id}/members:
    get:
      tags: [workspaces]
      summary: Список участников воркспейса
      operationId: getWorkspaceMembers
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Список участников
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      members:
                        type: array
                        items:
                          $ref: "#/components/schemas/Member"

    post:
      tags: [workspaces]
      summary: Добавить участника
      operationId: addWorkspaceMember
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMemberRequest"
      responses:
        "201":
          description: Участник добавлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Member"

  /workspaces/{id}/members/{memberId}:
    delete:
      tags: [workspaces]
      summary: Удалить участника
      operationId: removeWorkspaceMember
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Участник удален
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /workspaces/{workspace_id}/scenes:
    get:
      tags: [workspaces, scenes]
      summary: Список сцен воркспейса
      operationId: listWorkspaceScenes
      security:
        - BearerAuth: []
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Список сцен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scenes:
                        type: array
                        items:
                          $ref: "#/components/schemas/Scene"
                      pagination:
                        $ref: "#/components/schemas/Pagination"

    post:
      tags: [workspaces, scenes]
      summary: Создать сцену в воркспейсе
      operationId: createWorkspaceScene
      security:
        - BearerAuth: []
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSceneRequest"
      responses:
        "201":
          description: Сцена создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Scene"

  # ---------------------------------------------------------------------------
  # Scene Endpoints
  # ---------------------------------------------------------------------------
  /scenes/{id}:
    get:
      tags: [scenes]
      summary: Получить сцену
      operationId: getScene
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные сцены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Scene"

    patch:
      tags: [scenes]
      summary: Обновить сцену
      operationId: updateScene
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSceneRequest"
      responses:
        "200":
          description: Сцена обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Scene"

    delete:
      tags: [scenes]
      summary: Удалить сцену
      operationId: deleteScene
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Сцена удалена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /scenes/{id}/compliance:
    get:
      tags: [scenes, compliance]
      summary: Проверить сцену на соответствие нормам
      operationId: checkSceneCompliance
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Результат проверки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SceneComplianceResult"

  # ---------------------------------------------------------------------------
  # Floor Plan Endpoints
  # ---------------------------------------------------------------------------
  /floor-plans:
    get:
      tags: [floor-plans]
      summary: Список планировок
      operationId: listFloorPlans
      security:
        - BearerAuth: []
      parameters:
        - name: workspace_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [uploaded, processing, recognized, failed]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Список планировок
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      floor_plans:
                        type: array
                        items:
                          $ref: "#/components/schemas/FloorPlan"
                      pagination:
                        $ref: "#/components/schemas/Pagination"

    post:
      tags: [floor-plans]
      summary: Загрузить планировку
      operationId: uploadFloorPlan
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [workspace_id, name, file]
              properties:
                workspace_id:
                  type: string
                  format: uuid
                name:
                  type: string
                description:
                  type: string
                address:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: Планировка загружена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FloorPlan"

  /floor-plans/{id}:
    get:
      tags: [floor-plans]
      summary: Получить планировку
      operationId: getFloorPlan
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные планировки
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FloorPlan"

    patch:
      tags: [floor-plans]
      summary: Обновить планировку
      operationId: updateFloorPlan
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFloorPlanRequest"
      responses:
        "200":
          description: Планировка обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FloorPlan"

    delete:
      tags: [floor-plans]
      summary: Удалить планировку
      operationId: deleteFloorPlan
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Планировка удалена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /floor-plans/{id}/recognize:
    post:
      tags: [floor-plans, ai]
      summary: Запустить распознавание планировки
      operationId: startFloorPlanRecognition
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                create_scene:
                  type: boolean
                  default: true
                detect_furniture:
                  type: boolean
                  default: false
      responses:
        "202":
          description: Распознавание запущено
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      job_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: processing

  /floor-plans/{id}/recognition-status:
    get:
      tags: [floor-plans, ai]
      summary: Статус распознавания планировки
      operationId: getFloorPlanRecognitionStatus
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Статус распознавания
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecognitionStatus"

  /floor-plans/{id}/download-url:
    get:
      tags: [floor-plans]
      summary: Получить URL для скачивания
      operationId: getFloorPlanDownloadURL
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: URL для скачивания
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      expires_at:
                        type: string
                        format: date-time

  # ---------------------------------------------------------------------------
  # Branch Endpoints
  # ---------------------------------------------------------------------------
  /scenes/{scene_id}/branches:
    get:
      tags: [branches]
      summary: Список веток сцены
      operationId: listBranches
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [active, archived, merged]
      responses:
        "200":
          description: Список веток
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      branches:
                        type: array
                        items:
                          $ref: "#/components/schemas/Branch"

    post:
      tags: [branches]
      summary: Создать ветку
      operationId: createBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBranchRequest"
      responses:
        "201":
          description: Ветка создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

  /scenes/{scene_id}/branches/{id}:
    get:
      tags: [branches]
      summary: Получить ветку
      operationId: getBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные ветки
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

    patch:
      tags: [branches]
      summary: Обновить ветку
      operationId: updateBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBranchRequest"
      responses:
        "200":
          description: Ветка обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

    delete:
      tags: [branches]
      summary: Удалить ветку
      operationId: deleteBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Ветка удалена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /scenes/{scene_id}/branches/{id}/activate:
    post:
      tags: [branches]
      summary: Активировать ветку
      description: Делает ветку активной (текущей для редактирования)
      operationId: activateBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Ветка активирована
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

  /scenes/{scene_id}/branches/{id}/duplicate:
    post:
      tags: [branches]
      summary: Дублировать ветку
      operationId: duplicateBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Название новой ветки
      responses:
        "201":
          description: Ветка продублирована
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

  /scenes/{scene_id}/branches/{id}/compare/{target_id}:
    get:
      tags: [branches]
      summary: Сравнить две ветки
      operationId: compareBranches
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          description: ID исходной ветки
          schema:
            type: string
            format: uuid
        - name: target_id
          in: path
          required: true
          description: ID целевой ветки для сравнения
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Результат сравнения
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BranchComparison"

  /scenes/{scene_id}/branches/{id}/merge:
    post:
      tags: [branches]
      summary: Слить ветки
      operationId: mergeBranches
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          description: ID исходной ветки (которая будет слита)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MergeBranchRequest"
      responses:
        "200":
          description: Ветки слиты
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

  # ---------------------------------------------------------------------------
  # AI Endpoints
  # ---------------------------------------------------------------------------
  /ai/recognize:
    post:
      tags: [ai]
      summary: Распознать планировку
      operationId: recognizeFloorPlan
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecognizeRequest"
      responses:
        "202":
          description: Задача распознавания создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecognizeResponse"

  /ai/recognize/{job_id}/status:
    get:
      tags: [ai]
      summary: Статус распознавания
      operationId: getRecognitionStatus
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Статус задачи
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecognitionStatus"

  /ai/generate:
    post:
      tags: [ai]
      summary: Сгенерировать варианты планировки
      operationId: generateVariants
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateVariantsRequest"
      responses:
        "202":
          description: Генерация запущена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateResponse"

  /ai/generate/{job_id}/status:
    get:
      tags: [ai]
      summary: Статус генерации
      operationId: getGenerationStatus
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Статус генерации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerationStatus"

  /ai/chat:
    post:
      tags: [ai]
      summary: Отправить сообщение AI-ассистенту
      operationId: sendChatMessage
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatMessageRequest"
      responses:
        "200":
          description: Ответ AI
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatMessageResponse"
        "429":
          description: Превышен лимит запросов

  /ai/chat/history:
    get:
      tags: [ai]
      summary: История чата
      operationId: getChatHistory
      security:
        - BearerAuth: []
      parameters:
        - name: session_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: История сообщений
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatHistory"

    delete:
      tags: [ai]
      summary: Очистить историю чата
      operationId: clearChatHistory
      security:
        - BearerAuth: []
      parameters:
        - name: session_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: История очищена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /ai/context:
    get:
      tags: [ai]
      summary: Получить контекст AI
      description: Получить текущий контекст AI для сцены (информация о планировке)
      operationId: getAIContext
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: branch_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Контекст AI
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      context_id:
                        type: string
                      scene_summary:
                        type: string
                        description: Описание планировки для AI
                      context_size:
                        type: integer
                        description: Размер контекста в токенах
                      updated_at:
                        type: string
                        format: date-time
    post:
      tags: [ai]
      summary: Обновить контекст AI
      description: Принудительно обновить контекст AI после изменений в сцене
      operationId: updateAIContext
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scene_id
              properties:
                scene_id:
                  type: string
                  format: uuid
                branch_id:
                  type: string
                  format: uuid
                force:
                  type: boolean
                  default: false
                  description: Принудительное обновление
      responses:
        "200":
          description: Контекст обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      context_id:
                        type: string
                      updated:
                        type: boolean
                      context_size:
                        type: integer

  /scenes/{scene_id}/chat/messages/{message_id}/select:
    post:
      tags: [ai, scenes]
      summary: Выбрать вариант из предложенных AI
      description: Выбор варианта планировки из предложенных AI. Активирует соответствующую ветку.
      operationId: selectSuggestion
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: message_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID сообщения с вариантами
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - suggestion_index
              properties:
                suggestion_index:
                  type: integer
                  minimum: 0
                  maximum: 4
                  description: Индекс выбранного варианта (0-4)
      responses:
        "200":
          description: Вариант выбран и активирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      selected_branch_id:
                        type: string
                        format: uuid
                        description: ID активированной ветки
                      branch_activated:
                        type: boolean
                        description: Была ли ветка активирована
                      confirmation_message:
                        type: string
                        description: Подтверждающее сообщение от AI
        "400":
          description: Неверный индекс варианта
        "404":
          description: Сообщение не найдено

  # ---------------------------------------------------------------------------
  # Compliance Endpoints
  # ---------------------------------------------------------------------------
  /compliance/check:
    post:
      tags: [compliance]
      summary: Проверить соответствие нормам
      operationId: checkCompliance
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceCheckRequest"
      responses:
        "200":
          description: Результат проверки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceCheckResponse"

  /compliance/check-operation:
    post:
      tags: [compliance]
      summary: Проверить операцию на соответствие
      description: Проверяет конкретную операцию (снос стены, перенос и т.д.) до её выполнения
      operationId: checkOperation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckOperationRequest"
      responses:
        "200":
          description: Результат проверки операции
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceCheckResponse"

  /compliance/rules:
    get:
      tags: [compliance]
      summary: Список правил
      operationId: listComplianceRules
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: is_active
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Список правил
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rules:
                        type: array
                        items:
                          $ref: "#/components/schemas/ComplianceRule"

  /compliance/rules/{id}:
    get:
      tags: [compliance]
      summary: Получить правило
      operationId: getComplianceRule
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Данные правила
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ComplianceRule"

  /compliance/report:
    post:
      tags: [compliance]
      summary: Сгенерировать отчет
      description: Генерирует PDF/HTML отчет о соответствии планировки нормам
      operationId: generateComplianceReport
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateReportRequest"
      responses:
        "200":
          description: Отчет сгенерирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      report_id:
                        type: string
                        format: uuid
                      download_url:
                        type: string
                        format: uri
                      expires_at:
                        type: string
                        format: date-time

  # ---------------------------------------------------------------------------
  # Request (Expert) Endpoints
  # ---------------------------------------------------------------------------
  /requests:
    get:
      tags: [requests]
      summary: Список заявок
      operationId: listRequests
      security:
        - BearerAuth: []
      parameters:
        - name: workspace_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum:
              [
                draft,
                pending,
                in_review,
                approved,
                rejected,
                assigned,
                in_progress,
                completed,
                cancelled,
              ]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Список заявок
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      requests:
                        type: array
                        items:
                          $ref: "#/components/schemas/ExpertRequest"
                      pagination:
                        $ref: "#/components/schemas/Pagination"

    post:
      tags: [requests]
      summary: Создать заявку
      operationId: createRequest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExpertRequestRequest"
      responses:
        "201":
          description: Заявка создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ExpertRequest"

  /requests/{id}:
    get:
      tags: [requests]
      summary: Получить заявку
      operationId: getRequest
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные заявки
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ExpertRequest"

    patch:
      tags: [requests]
      summary: Обновить заявку
      operationId: updateRequest
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExpertRequestRequest"
      responses:
        "200":
          description: Заявка обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ExpertRequest"

    delete:
      tags: [requests]
      summary: Удалить заявку
      description: Удаляет заявку (только в статусе draft)
      operationId: deleteRequest
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Заявка удалена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /requests/{id}/submit:
    post:
      tags: [requests]
      summary: Отправить заявку
      description: Переводит заявку из draft в pending
      operationId: submitRequest
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Заявка отправлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ExpertRequest"

  /requests/{id}/cancel:
    post:
      tags: [requests]
      summary: Отменить заявку
      operationId: cancelRequest
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Причина отмены
      responses:
        "200":
          description: Заявка отменена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ExpertRequest"

  /requests/{id}/documents:
    get:
      tags: [requests]
      summary: Список документов заявки
      operationId: getRequestDocuments
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Список документов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      documents:
                        type: array
                        items:
                          $ref: "#/components/schemas/RequestDocument"

    post:
      tags: [requests]
      summary: Добавить документ к заявке
      operationId: addRequestDocument
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                name:
                  type: string
                type:
                  type: string
                  enum: [floor_plan, passport, contract, other]
      responses:
        "201":
          description: Документ добавлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RequestDocument"
