# =============================================================================
# Granula API - OpenAPI 3.0 Specification
# =============================================================================
# Полная документация REST API для сервиса планирования ремонта и перепланировки.
#
# Версия: 1.1.0
# Дата: 2025-11-30
# =============================================================================

openapi: 3.0.3

info:
  title: Granula API
  version: 1.1.0
  description: |
    # Granula API

    API для интеллектуального сервиса планирования ремонта и перепланировки квартир.

    ## Возможности

    - 🏠 **Загрузка планировок** - Загружайте изображения планировок для автоматического распознавания
    - 🤖 **AI распознавание** - Автоматическое распознавание комнат, стен и элементов
    - 🎨 **3D редактор** - Редактирование планировки в интерактивном 3D редакторе
    - ✅ **Проверка норм** - Автоматическая проверка на соответствие СНиП и ЖК РФ
    - 💡 **AI генерация** - Генерация вариантов планировки с помощью AI
    - 📋 **Заявки экспертам** - Подача заявок на консультации специалистов БТИ

    ## Типичный Flow работы

    ### 1. Регистрация и авторизация
    ```
    POST /auth/register → получаем access_token
    ```

    ### 2. Создание проекта
    ```
    POST /workspaces → создаём воркспейс (проект квартиры)
    ```

    ### 3. Загрузка и распознавание планировки
    ```
    POST /floor-plans (с файлом) → получаем floor_plan_id
    POST /ai/recognize (с floor_plan_id) → получаем job_id
    GET /ai/recognize/{job_id}/status → polling пока status != "completed"
    ```

    ### 4. Получение результата распознавания
    ```
    GET /floor-plans/{floor_plan_id} → получаем планировку с полем "model"
    ```
    или
    ```
    GET /floor-plans/{floor_plan_id}/recognition-status → статус + model
    ```

    ### 5. Работа с 3D редактором
    ```
    POST /workspaces/{workspace_id}/scenes → создаём сцену из планировки
    GET /scenes/{scene_id} → данные сцены для редактора
    ```

    ## Важно: Различие ID

    | Сущность | Поле | Где получить |
    |----------|------|--------------|
    | Планировка | `floor_plan_id` | POST /floor-plans → response.data.id |
    | Задача распознавания | `job_id` | POST /ai/recognize → response.data.job_id |
    | Воркспейс | `workspace_id` | POST /workspaces → response.data.id |
    | Сцена | `scene_id` | POST /workspaces/{id}/scenes → response.data.id |
    | Заявка | `request_id` | POST /requests → response.data.id |

    ⚠️ **НЕ ПУТАТЬ:** `floor_plan_id` и `job_id` - это РАЗНЫЕ идентификаторы!

    ## Аутентификация

    API использует JWT (JSON Web Tokens) для аутентификации.

    ### Получение токенов

    1. Зарегистрируйтесь через `POST /api/v1/auth/register`
    2. Или войдите через `POST /api/v1/auth/login`
    3. Получите `access_token` и `refresh_token`

    ### Использование токенов

    Передавайте Access Token в заголовке Authorization:
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    ### Обновление токенов

    Access Token действует 15 минут. Для обновления используйте `POST /api/v1/auth/refresh`

    ## Rate Limiting

    | Тип запроса | Лимит |
    |-------------|-------|
    | Анонимные | 60 req/min |
    | Аутентифицированные | 300 req/min |
    | AI endpoints | 30 req/min |

    При превышении лимита возвращается HTTP 429.

    ## Коды ошибок

    | Код | Описание |
    |-----|----------|
    | VALIDATION_ERROR | Ошибка валидации входных данных |
    | UNAUTHORIZED | Требуется аутентификация |
    | FORBIDDEN | Недостаточно прав |
    | NOT_FOUND | Ресурс не найден |
    | CONFLICT | Конфликт (например, дублирование) |
    | RATE_LIMITED | Превышен лимит запросов |
    | INTERNAL_ERROR | Внутренняя ошибка сервера |

  termsOfService: https://granula.ru/terms
  contact:
    name: Granula API Support
    url: https://granula.ru/support
    email: api@granula.ru
  license:
    name: Proprietary
    url: https://granula.ru/license

servers:
  - url: https://api.granula.raitokyokai.tech/api/v1
    description: Production сервер
  - url: http://localhost:3001/api/v1
    description: Локальная разработка

tags:
  - name: auth
    description: Аутентификация и управление сессиями
  - name: users
    description: Профили пользователей
  - name: workspaces
    description: Рабочие пространства для проектов
  - name: floor-plans
    description: Загрузка и обработка планировок
  - name: scenes
    description: 3D сцены и элементы
  - name: branches
    description: Ветки дизайна (версионирование)
  - name: ai
    description: AI сервисы (распознавание, генерация, чат)
  - name: compliance
    description: Проверка соответствия СНиП и ЖК РФ
  - name: requests
    description: Заявки на услуги экспертов БТИ
  - name: notifications
    description: Уведомления пользователей

# =============================================================================
# Security Schemes
# =============================================================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен. Получите через `/auth/login` или `/auth/register`. Формат - `Bearer <token>`

  # ===========================================================================
  # Schemas
  # ===========================================================================
  schemas:
    # -------------------------------------------------------------------------
    # Error Responses
    # -------------------------------------------------------------------------
    Error:
      type: object
      properties:
        error:
          type: string
          description: Описание ошибки
          example: unauthorized
        message:
          type: string
          description: Детальное сообщение
          example: Invalid token
        request_id:
          type: string
          description: ID запроса для отладки
          example: req-abc123

    ValidationError:
      type: object
      properties:
        error:
          type: string
          example: validation_error
        details:
          type: object
          additionalProperties:
            type: string
          example:
            email: "invalid email format"
            password: "minimum 8 characters"

    # -------------------------------------------------------------------------
    # Success Response
    # -------------------------------------------------------------------------
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Operation completed successfully
        request_id:
          type: string

    # -------------------------------------------------------------------------
    # Pagination
    # -------------------------------------------------------------------------
    Pagination:
      type: object
      properties:
        total:
          type: integer
          example: 150
        page:
          type: integer
          example: 1
        page_size:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 8

    # -------------------------------------------------------------------------
    # Auth Schemas
    # -------------------------------------------------------------------------
    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          minLength: 8
          example: SecurePass123!
        name:
          type: string
          minLength: 2
          example: Иван Петров

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          example: SecurePass123!

    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            user_id:
              type: string
              format: uuid
            access_token:
              type: string
            refresh_token:
              type: string
            expires_in:
              type: integer
              description: Секунды до истечения access_token
        message:
          type: string
        request_id:
          type: string

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    LogoutRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    # -------------------------------------------------------------------------
    # User Schemas
    # -------------------------------------------------------------------------
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        avatar_url:
          type: string
          format: uri
        phone:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 255
        phone:
          type: string

    ChangePasswordRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password:
          type: string
        new_password:
          type: string
          minLength: 8

    # -------------------------------------------------------------------------
    # Notification Schemas
    # -------------------------------------------------------------------------
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [info, warning, error, success, system]
        title:
          type: string
        message:
          type: string
        is_read:
          type: boolean
        metadata:
          type: object
        created_at:
          type: string
          format: date-time

    NotificationList:
      type: object
      properties:
        data:
          type: object
          properties:
            notifications:
              type: array
              items:
                $ref: "#/components/schemas/Notification"
            pagination:
              $ref: "#/components/schemas/Pagination"

    UnreadCount:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer

    # -------------------------------------------------------------------------
    # Workspace Schemas
    # -------------------------------------------------------------------------
    Workspace:
      type: object
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        member_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateWorkspaceRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
        description:
          type: string
          maxLength: 1000

    UpdateWorkspaceRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    Member:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [owner, admin, editor, viewer]
        joined_at:
          type: string
          format: date-time

    AddMemberRequest:
      type: object
      required: [user_id, role]
      properties:
        user_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [admin, editor, viewer]

    # -------------------------------------------------------------------------
    # Floor Plan Schemas
    # -------------------------------------------------------------------------
    FloorPlan:
      type: object
      description: |
        Планировка квартиры.
        
        **Статусы:**
        - `uploaded` - файл загружен, распознавание не запущено
        - `processing` - идёт распознавание
        - `recognized` - распознавание завершено, поле `model` заполнено
        - `failed` - ошибка распознавания
      properties:
        id:
          type: string
          format: uuid
          description: |
            ID планировки (floor_plan_id).
            Используйте для всех операций с планировкой.
        workspace_id:
          type: string
          format: uuid
          description: ID воркспейса, к которому привязана планировка
        user_id:
          type: string
          format: uuid
          description: ID владельца планировки
        name:
          type: string
        description:
          type: string
        address:
          type: string
        status:
          type: string
          enum: [uploaded, processing, recognized, failed]
          description: Текущий статус планировки
        image_url:
          type: string
          format: uri
          description: URL оригинального изображения
        thumbnail_url:
          type: string
          format: uri
          description: URL превью
        scene_id:
          type: string
          format: uuid
          description: ID созданной 3D сцены (если создана)
        recognition_result:
          $ref: "#/components/schemas/RecognitionResult"
          description: Краткая сводка результатов распознавания
        model:
          $ref: "#/components/schemas/RecognitionModel"
          description: |
            Полная 3D модель планировки.
            ⚠️ Заполняется ТОЛЬКО после успешного распознавания (status="recognized")
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RecognitionResult:
      type: object
      properties:
        rooms_count:
          type: integer
        total_area:
          type: number
          format: float
        living_area:
          type: number
          format: float
        confidence:
          type: number
          format: float
        rooms:
          type: array
          items:
            $ref: "#/components/schemas/RecognizedRoom"

    RecognizedRoom:
      type: object
      properties:
        type:
          type: string
          enum:
            [
              living_room,
              bedroom,
              kitchen,
              bathroom,
              toilet,
              hallway,
              balcony,
              storage,
              other,
            ]
        name:
          type: string
        area:
          type: number
          format: float

    UpdateFloorPlanRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        address:
          type: string

    RecognitionStatus:
      type: object
      description: |
        Статус задачи распознавания.
        
        **Статусы:**
        - `pending` - в очереди
        - `processing` - обрабатывается (смотрите progress)
        - `completed` - готово, поле `model` содержит результат
        - `failed` - ошибка, смотрите поле `error`
      properties:
        data:
          type: object
          properties:
            job_id:
              type: string
              format: uuid
              description: ID задачи распознавания
            status:
              type: string
              enum: [pending, processing, completed, failed]
              description: |
                Текущий статус.
                Делайте polling пока status != "completed" и status != "failed"
            progress:
              type: integer
              description: Прогресс 0-100%. Показывает % выполнения при status="processing"
            model:
              $ref: "#/components/schemas/RecognitionModel"
              description: |
                Полная 3D модель планировки.
                ⚠️ Доступна ТОЛЬКО при status="completed"
            error:
              type: string
              description: Описание ошибки (при status="failed")
    
    RecognitionModel:
      type: object
      description: Полная 3D модель планировки после распознавания
      properties:
        bounds:
          type: object
          description: Габариты квартиры в метрах
          properties:
            width:
              type: number
              description: Ширина по X
            height:
              type: number
              description: Высота потолков
            depth:
              type: number
              description: Глубина по Z
        total_area:
          type: number
          description: Общая площадь в м²
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Уверенность распознавания (0-1)
        processing_time_ms:
          type: integer
          description: Время обработки в мс
        warnings:
          type: array
          items:
            type: string
          description: Предупреждения при распознавании
        recognition:
          type: object
          description: Метаданные распознавания
          properties:
            source_type:
              type: string
              enum: [BTI, technical_passport, architect_plan, sketch, photo]
            quality:
              type: string
              enum: [high, medium, low]
            scale:
              type: string
            orientation:
              type: integer
            has_dimensions:
              type: boolean
            has_annotations:
              type: boolean
            building_type:
              type: string
              enum: [panel, brick, monolith, block, frame, unknown]
        elements:
          $ref: "#/components/schemas/SceneElements"
    
    SceneElements:
      type: object
      description: Элементы 3D сцены планировки
      properties:
        walls:
          type: array
          items:
            $ref: "#/components/schemas/Wall3D"
        rooms:
          type: array
          items:
            $ref: "#/components/schemas/Room3DModel"
        furniture:
          type: array
          items:
            $ref: "#/components/schemas/FurnitureModel"
        utilities:
          type: array
          items:
            $ref: "#/components/schemas/UtilityModel"
    
    Wall3D:
      type: object
      description: 3D стена
      properties:
        id:
          type: string
        type:
          type: string
          example: wall
        name:
          type: string
        start:
          $ref: "#/components/schemas/Point3D"
        end:
          $ref: "#/components/schemas/Point3D"
        height:
          type: number
          description: Высота стены в метрах
        thickness:
          type: number
          description: Толщина стены в метрах (0.08-0.50)
        properties:
          type: object
          properties:
            is_load_bearing:
              type: boolean
              description: Является ли несущей
            material:
              type: string
              enum: [brick, concrete, drywall, block, panel, foam_block, gas_block]
            can_demolish:
              type: boolean
            structural_type:
              type: string
              enum: [external, internal_bearing, partition]
        openings:
          type: array
          items:
            $ref: "#/components/schemas/Opening3D"
        metadata:
          $ref: "#/components/schemas/ElementMetadata"
    
    Point3D:
      type: object
      properties:
        x:
          type: number
        y:
          type: number
        z:
          type: number
    
    Point2DModel:
      type: object
      properties:
        x:
          type: number
        y:
          type: number
    
    Opening3D:
      type: object
      description: Проём (дверь/окно) в стене
      properties:
        id:
          type: string
        type:
          type: string
          enum: [door, window, passage, arch]
        subtype:
          type: string
          enum: [single_swing, double_swing, sliding, entrance, balcony, panoramic]
        position:
          type: number
          description: Позиция от начала стены в метрах
        width:
          type: number
        height:
          type: number
        elevation:
          type: number
          description: Высота от пола (0 для дверей, 0.85 для окон)
        opens_to:
          type: string
          enum: [left, right, inward, outward]
        has_door:
          type: boolean
        connects_rooms:
          type: array
          items:
            type: string
          description: ID комнат, которые соединяет проём
    
    Room3DModel:
      type: object
      description: 3D комната
      properties:
        id:
          type: string
        type:
          type: string
          example: room
        name:
          type: string
          example: Кухня
        room_type:
          type: string
          enum: [living, bedroom, kitchen, bathroom, toilet, combined_bathroom, hallway, corridor, storage, balcony, loggia, children, office, dining]
        polygon:
          type: array
          description: Контур комнаты (замкнутый полигон)
          items:
            $ref: "#/components/schemas/Point2DModel"
        area:
          type: number
          description: Площадь в м²
        perimeter:
          type: number
          description: Периметр в метрах
        properties:
          type: object
          properties:
            has_wet_zone:
              type: boolean
            has_ventilation:
              type: boolean
            has_window:
              type: boolean
            min_allowed_area:
              type: number
              description: Минимальная площадь по СНиП
            ceiling_height:
              type: number
        wall_ids:
          type: array
          items:
            type: string
          description: ID стен, образующих комнату
        metadata:
          type: object
          properties:
            confidence:
              type: number
            label_on_plan:
              type: string
              description: Надпись на плане
            area_on_plan:
              type: number
              description: Площадь указанная на плане
    
    FurnitureModel:
      type: object
      description: Мебель или сантехника
      properties:
        id:
          type: string
        type:
          type: string
          example: furniture
        name:
          type: string
        furniture_type:
          type: string
          enum: [sink, toilet, bathtub, shower, gas_stove, electric_stove, refrigerator, washing_machine, dishwasher, bed, sofa, table, wardrobe, desk]
        position:
          $ref: "#/components/schemas/Point3D"
        rotation:
          $ref: "#/components/schemas/Point3D"
        dimensions:
          type: object
          properties:
            width:
              type: number
            height:
              type: number
            depth:
              type: number
        room_id:
          type: string
        properties:
          type: object
          properties:
            can_relocate:
              type: boolean
            category:
              type: string
              enum: [bathroom, kitchen, living, bedroom]
            requires_water:
              type: boolean
            requires_gas:
              type: boolean
            requires_drain:
              type: boolean
    
    UtilityModel:
      type: object
      description: Инженерные коммуникации (стояки, вентиляция)
      properties:
        id:
          type: string
        type:
          type: string
          example: utility
        name:
          type: string
        utility_type:
          type: string
          enum: [water_riser, sewer_riser, gas_riser, ventilation, electrical_panel]
        position:
          $ref: "#/components/schemas/Point3D"
        dimensions:
          type: object
          properties:
            diameter:
              type: number
              description: Диаметр (для круглых)
            width:
              type: number
            depth:
              type: number
        room_id:
          type: string
        properties:
          type: object
          properties:
            can_relocate:
              type: boolean
            protection_zone:
              type: number
              description: Защитная зона в метрах
            shared_with_neighbors:
              type: boolean
    
    ElementMetadata:
      type: object
      properties:
        confidence:
          type: number
          minimum: 0
          maximum: 1
        source:
          type: string
          enum: [recognition, manual, generated]
        locked:
          type: boolean
        visible:
          type: boolean

    # -------------------------------------------------------------------------
    # Scene Schemas
    # -------------------------------------------------------------------------
    Scene:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        floor_plan_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, archived]
        element_count:
          type: integer
        branch_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateSceneRequest:
      type: object
      description: |
        Создание 3D сцены.
        
        **Рекомендуется** передавать `floor_plan_id` с уже распознанной планировкой - 
        тогда сцена автоматически заполнится данными из model.
      required: [name]
      properties:
        name:
          type: string
          description: Название сцены
        description:
          type: string
        floor_plan_id:
          type: string
          format: uuid
          description: |
            ID распознанной планировки.
            Если передан - сцена создаётся с данными из планировки.

    UpdateSceneRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, archived]

    SceneComplianceResult:
      type: object
      properties:
        data:
          type: object
          properties:
            scene_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [passed, warning, failed]
            violations:
              type: array
              items:
                $ref: "#/components/schemas/Violation"
            checked_at:
              type: string
              format: date-time

    # -------------------------------------------------------------------------
    # Branch Schemas
    # -------------------------------------------------------------------------
    Branch:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scene_id:
          type: string
          format: uuid
        parent_branch_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, archived, merged]
        is_main:
          type: boolean
        created_by:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateBranchRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 2
        description:
          type: string
        parent_branch_id:
          type: string
          format: uuid

    UpdateBranchRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    BranchComparison:
      type: object
      properties:
        data:
          type: object
          properties:
            source_branch:
              $ref: "#/components/schemas/Branch"
            target_branch:
              $ref: "#/components/schemas/Branch"
            differences:
              type: array
              items:
                type: object
                properties:
                  element_id:
                    type: string
                  change_type:
                    type: string
                    enum: [added, removed, modified]
                  description:
                    type: string

    MergeBranchRequest:
      type: object
      required: [target_branch_id]
      properties:
        target_branch_id:
          type: string
          format: uuid
        strategy:
          type: string
          enum: [overwrite, merge]
          default: merge

    # -------------------------------------------------------------------------
    # Compliance Schemas
    # -------------------------------------------------------------------------
    ComplianceCheckRequest:
      type: object
      required: [scene_id]
      properties:
        scene_id:
          type: string
          format: uuid
        branch_id:
          type: string
          format: uuid
        categories:
          type: array
          items:
            type: string

    ComplianceCheckResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            check_id:
              type: string
              format: uuid
            scene_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [passed, warning, failed]
            score:
              type: integer
              description: 0-100
            violation_count:
              type: integer
            warning_count:
              type: integer
            violations:
              type: array
              items:
                $ref: "#/components/schemas/Violation"
            checked_at:
              type: string
              format: date-time

    CheckOperationRequest:
      type: object
      required: [scene_id, operation]
      properties:
        scene_id:
          type: string
          format: uuid
        branch_id:
          type: string
          format: uuid
        operation:
          type: object
          properties:
            type:
              type: string
              enum:
                [
                  add_wall,
                  remove_wall,
                  move_wall,
                  add_room,
                  remove_room,
                  merge_rooms,
                ]
            element_id:
              type: string
              format: uuid
            parameters:
              type: object

    Violation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        rule_id:
          type: string
        rule_name:
          type: string
        category:
          type: string
        severity:
          type: string
          enum: [error, warning, info]
        description:
          type: string
        recommendations:
          type: array
          items:
            type: string
        legal_reference:
          type: string

    ComplianceRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [error, warning, info]
        legal_reference:
          type: string
        is_active:
          type: boolean

    GenerateReportRequest:
      type: object
      required: [scene_id]
      properties:
        scene_id:
          type: string
          format: uuid
        branch_id:
          type: string
          format: uuid
        format:
          type: string
          enum: [pdf, html, json]
          default: pdf
        include_recommendations:
          type: boolean
          default: true

    # -------------------------------------------------------------------------
    # Request (Expert) Schemas
    # -------------------------------------------------------------------------
    ExpertRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [consultation, documentation, expert_visit, full_package]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        status:
          type: string
          enum:
            [
              draft,
              pending,
              in_review,
              approved,
              rejected,
              assigned,
              in_progress,
              completed,
              cancelled,
            ]
        expert_id:
          type: string
          format: uuid
        estimated_cost:
          type: integer
        final_cost:
          type: integer
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateExpertRequestRequest:
      type: object
      required: [workspace_id, title, description, category]
      properties:
        workspace_id:
          type: string
          format: uuid
        title:
          type: string
          minLength: 5
          maxLength: 200
        description:
          type: string
          minLength: 10
        category:
          type: string
          enum: [consultation, documentation, expert_visit, full_package]
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: normal
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email

    UpdateExpertRequestRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, normal, high, urgent]
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email

    RequestDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
        request_id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        url:
          type: string
          format: uri
        uploaded_at:
          type: string
          format: date-time

    # -------------------------------------------------------------------------
    # AI Schemas
    # -------------------------------------------------------------------------
    RecognizeRequest:
      type: object
      required: [floor_plan_id]
      properties:
        floor_plan_id:
          type: string
          format: uuid
          description: |
            ID планировки для распознавания.
            Получаете из POST /floor-plans → response.data.id
        image_base64:
          type: string
          description: |
            Base64-encoded изображение (альтернатива floor_plan_id).
            Формат: data:image/jpeg;base64,/9j/4AAQ...
        image_type:
          type: string
          description: MIME-тип изображения (image/jpeg, image/png)
          example: image/jpeg
        options:
          type: object
          properties:
            detect_load_bearing:
              type: boolean
              default: true
              description: Определять несущие стены
            detect_wet_zones:
              type: boolean
              default: true
              description: Определять мокрые зоны
            detect_furniture:
              type: boolean
              default: true
              description: Определять мебель и оборудование
            detail_level:
              type: integer
              minimum: 1
              maximum: 3
              default: 2
              description: Уровень детализации (1-3)

    RecognizeResponse:
      type: object
      description: |
        Ответ на запуск распознавания.
        
        ⚠️ **Сохраните job_id** - он нужен для polling статуса!
      properties:
        data:
          type: object
          properties:
            job_id:
              type: string
              format: uuid
              description: |
                ID задачи распознавания.
                Используйте для GET /ai/recognize/{job_id}/status
            status:
              type: string
              enum: [pending, processing, completed, failed]
              description: Начальный статус (обычно "pending" или "processing")
            success:
              type: boolean

    AIRecognitionResult:
      type: object
      description: Полный результат распознавания для 3D модели
      properties:
        bounds:
          type: object
          description: Габариты квартиры в метрах
          properties:
            width:
              type: number
              description: Ширина по X
            height:
              type: number
              description: Высота потолков
            depth:
              type: number
              description: Глубина по Z
        total_area:
          type: number
          description: Общая площадь в м²
        stats:
          type: object
          properties:
            totalArea:
              type: number
            roomsCount:
              type: integer
            wallsCount:
              type: integer
            furnitureCount:
              type: integer
        walls:
          type: array
          items:
            $ref: "#/components/schemas/RecognizedWall3D"
        rooms:
          type: array
          items:
            $ref: "#/components/schemas/RecognizedRoom3D"
        openings:
          type: array
          items:
            $ref: "#/components/schemas/RecognizedOpening"
        recognition:
          type: object
          properties:
            sourceType:
              type: string
              enum: [BTI, technical_passport, architect_plan, sketch, photo]
            quality:
              type: string
              enum: [high, medium, low]
            scale:
              type: string
            buildingType:
              type: string
              enum: [panel, brick, monolith, block, frame, unknown]

    RecognizedWall3D:
      type: object
      properties:
        temp_id:
          type: string
        start:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
        end:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
        thickness:
          type: number
          description: Толщина в метрах (0.08-0.50)
        is_load_bearing:
          type: boolean
          description: Несущая стена
        material:
          type: string
          enum: [brick, concrete, drywall, block, panel, foam_block, gas_block]
        can_demolish:
          type: boolean
        confidence:
          type: number
          minimum: 0
          maximum: 1

    RecognizedRoom3D:
      type: object
      properties:
        temp_id:
          type: string
        type:
          type: string
          enum: [living, bedroom, kitchen, bathroom, toilet, combined_bathroom, hallway, corridor, storage, balcony, loggia, children, office, dining]
        name:
          type: string
        polygon:
          type: array
          items:
            type: object
            properties:
              x:
                type: number
              y:
                type: number
        area:
          type: number
        perimeter:
          type: number
        is_wet_zone:
          type: boolean
        has_window:
          type: boolean
        wall_ids:
          type: array
          items:
            type: string
        confidence:
          type: number

    RecognizedOpening:
      type: object
      properties:
        temp_id:
          type: string
        type:
          type: string
          enum: [door, window, passage, arch]
        subtype:
          type: string
          enum: [single_swing, double_swing, sliding, entrance, balcony, panoramic]
        wall_id:
          type: string
        position:
          type: number
          description: Позиция от начала стены в метрах
        width:
          type: number
        height:
          type: number
        elevation:
          type: number
          description: Высота от пола (0 для дверей, 0.85 для окон)
        confidence:
          type: number

    GenerateVariantsRequest:
      type: object
      required: [scene_id, count]
      properties:
        scene_id:
          type: string
          format: uuid
        branch_id:
          type: string
          format: uuid
        count:
          type: integer
          minimum: 1
          maximum: 5
        style:
          type: string
          enum: [modern, classic, minimalist, scandinavian, loft]
        priorities:
          type: array
          items:
            type: string
        constraints:
          type: object

    GenerateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            job_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [queued, processing]

    GenerationStatus:
      type: object
      properties:
        data:
          type: object
          properties:
            job_id:
              type: string
              format: uuid
            status:
              type: string
              enum: [queued, processing, completed, failed]
            progress:
              type: integer
            variants:
              type: array
              items:
                $ref: "#/components/schemas/GeneratedVariant"
            error:
              type: string

    GeneratedVariant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        branch_id:
          type: string
          format: uuid
        quality_score:
          type: integer
        preview_url:
          type: string
          format: uri

    ChatMessageRequest:
      type: object
      required: [message]
      properties:
        session_id:
          type: string
          format: uuid
        message:
          type: string
          minLength: 1
          maxLength: 4000
        scene_id:
          type: string
          format: uuid

    ChatMessageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            session_id:
              type: string
              format: uuid
            message_id:
              type: string
              format: uuid
            response:
              type: string
            suggestions:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  description:
                    type: string

    ChatHistory:
      type: object
      properties:
        data:
          type: object
          properties:
            session_id:
              type: string
              format: uuid
            messages:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum: [user, assistant]
                  content:
                    type: string
                  created_at:
                    type: string
                    format: date-time

# =============================================================================
# Paths
# =============================================================================
paths:
  # ---------------------------------------------------------------------------
  # Auth Endpoints
  # ---------------------------------------------------------------------------
  /auth/register:
    post:
      tags: [auth]
      summary: Регистрация пользователя
      description: Создает новую учетную запись и возвращает токены
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Успешная регистрация
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "409":
          description: Email уже зарегистрирован

  /auth/login:
    post:
      tags: [auth]
      summary: Вход в систему
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Неверные учетные данные

  /auth/refresh:
    post:
      tags: [auth]
      summary: Обновление токенов
      operationId: refreshTokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Недействительный refresh token

  /auth/logout:
    post:
      tags: [auth]
      summary: Выход из системы
      operationId: logout
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
      responses:
        "200":
          description: Успешный выход
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /auth/logout-all:
    post:
      tags: [auth]
      summary: Выход со всех устройств
      description: Инвалидирует все refresh токены пользователя
      operationId: logoutAll
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Выход со всех устройств выполнен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  # ---------------------------------------------------------------------------
  # User Endpoints
  # ---------------------------------------------------------------------------
  /users/me:
    get:
      tags: [users]
      summary: Получить профиль
      operationId: getProfile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Профиль пользователя
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          description: Не авторизован

    patch:
      tags: [users]
      summary: Обновить профиль
      operationId: updateProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: Профиль обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"

    delete:
      tags: [users]
      summary: Удалить аккаунт
      description: Полностью удаляет учетную запись пользователя
      operationId: deleteAccount
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Аккаунт удален
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /users/me/password:
    put:
      tags: [users]
      summary: Сменить пароль
      operationId: changePassword
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: Пароль изменен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Неверный текущий пароль

  # ---------------------------------------------------------------------------
  # Notification Endpoints
  # ---------------------------------------------------------------------------
  /notifications:
    get:
      tags: [notifications]
      summary: Список уведомлений
      operationId: getNotifications
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
        - name: is_read
          in: query
          description: Фильтр по статусу прочтения
          schema:
            type: boolean
      responses:
        "200":
          description: Список уведомлений
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationList"

    delete:
      tags: [notifications]
      summary: Удалить все прочитанные уведомления
      operationId: deleteAllReadNotifications
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Уведомления удалены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /notifications/count:
    get:
      tags: [notifications]
      summary: Количество непрочитанных
      operationId: getUnreadCount
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Количество непрочитанных уведомлений
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnreadCount"

  /notifications/{id}/read:
    post:
      tags: [notifications]
      summary: Отметить как прочитанное
      operationId: markAsRead
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID уведомления (notification_id)
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Отмечено как прочитанное
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /notifications/read-all:
    post:
      tags: [notifications]
      summary: Отметить все как прочитанные
      operationId: markAllAsRead
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Все уведомления отмечены как прочитанные
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /notifications/{id}:
    delete:
      tags: [notifications]
      summary: Удалить уведомление
      operationId: deleteNotification
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Уведомление удалено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  # ---------------------------------------------------------------------------
  # Workspace Endpoints
  # ---------------------------------------------------------------------------
  /workspaces:
    get:
      tags: [workspaces]
      summary: Список воркспейсов
      operationId: listWorkspaces
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
        - name: name
          in: query
          description: Фильтр по названию
          schema:
            type: string
      responses:
        "200":
          description: Список воркспейсов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      workspaces:
                        type: array
                        items:
                          $ref: "#/components/schemas/Workspace"
                      pagination:
                        $ref: "#/components/schemas/Pagination"

    post:
      tags: [workspaces]
      summary: Создать воркспейс
      operationId: createWorkspace
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceRequest"
      responses:
        "201":
          description: Воркспейс создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Workspace"

  /workspaces/{id}:
    get:
      tags: [workspaces]
      summary: Получить воркспейс
      operationId: getWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID воркспейса (workspace_id). Получаете из POST /workspaces или GET /workspaces
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные воркспейса
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Workspace"
        "404":
          description: Не найден

    patch:
      tags: [workspaces]
      summary: Обновить воркспейс
      operationId: updateWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWorkspaceRequest"
      responses:
        "200":
          description: Воркспейс обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Workspace"

    delete:
      tags: [workspaces]
      summary: Удалить воркспейс
      operationId: deleteWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Воркспейс удален
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /workspaces/{id}/members:
    get:
      tags: [workspaces]
      summary: Список участников воркспейса
      operationId: getWorkspaceMembers
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Список участников
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      members:
                        type: array
                        items:
                          $ref: "#/components/schemas/Member"

    post:
      tags: [workspaces]
      summary: Добавить участника
      operationId: addWorkspaceMember
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMemberRequest"
      responses:
        "201":
          description: Участник добавлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Member"

  /workspaces/{id}/members/{memberId}:
    delete:
      tags: [workspaces]
      summary: Удалить участника
      operationId: removeWorkspaceMember
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: memberId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Участник удален
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /workspaces/{workspace_id}/scenes:
    get:
      tags: [workspaces, scenes]
      summary: Список сцен воркспейса
      operationId: listWorkspaceScenes
      security:
        - BearerAuth: []
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Список сцен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scenes:
                        type: array
                        items:
                          $ref: "#/components/schemas/Scene"
                      pagination:
                        $ref: "#/components/schemas/Pagination"

    post:
      tags: [workspaces, scenes]
      summary: Создать сцену в воркспейсе
      operationId: createWorkspaceScene
      security:
        - BearerAuth: []
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSceneRequest"
      responses:
        "201":
          description: Сцена создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Scene"

  # ---------------------------------------------------------------------------
  # Scene Endpoints
  # ---------------------------------------------------------------------------
  /scenes/{id}:
    get:
      tags: [scenes]
      summary: Получить сцену
      description: |
        Получить данные 3D сцены для редактора.
        
        Сцена создаётся из планировки через POST /workspaces/{workspace_id}/scenes
      operationId: getScene
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID сцены (scene_id). Получаете из POST /workspaces/{workspace_id}/scenes
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные сцены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Scene"

    patch:
      tags: [scenes]
      summary: Обновить сцену
      operationId: updateScene
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSceneRequest"
      responses:
        "200":
          description: Сцена обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Scene"

    delete:
      tags: [scenes]
      summary: Удалить сцену
      operationId: deleteScene
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Сцена удалена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /scenes/{id}/compliance:
    get:
      tags: [scenes, compliance]
      summary: Проверить сцену на соответствие нормам
      operationId: checkSceneCompliance
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Результат проверки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SceneComplianceResult"

  # ---------------------------------------------------------------------------
  # Floor Plan Endpoints
  # ---------------------------------------------------------------------------
  /floor-plans:
    get:
      tags: [floor-plans]
      summary: Список планировок
      operationId: listFloorPlans
      security:
        - BearerAuth: []
      parameters:
        - name: workspace_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [uploaded, processing, recognized, failed]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Список планировок
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      floor_plans:
                        type: array
                        items:
                          $ref: "#/components/schemas/FloorPlan"
                      pagination:
                        $ref: "#/components/schemas/Pagination"

    post:
      tags: [floor-plans]
      summary: Загрузить планировку
      description: |
        Загружает изображение планировки.
        
        **Поддерживаемые форматы:** JPEG, PNG, WebP
        **Максимальный размер:** 10 MB
        
        **После загрузки:**
        1. Сохраните `id` из ответа (это floor_plan_id)
        2. Запустите распознавание: POST /ai/recognize с этим floor_plan_id
      operationId: uploadFloorPlan
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [workspace_id, name, file]
              properties:
                workspace_id:
                  type: string
                  format: uuid
                  description: ID воркспейса, куда загружается планировка
                name:
                  type: string
                  description: Название планировки
                description:
                  type: string
                address:
                  type: string
                  description: Адрес квартиры
                file:
                  type: string
                  format: binary
                  description: Файл изображения (JPEG, PNG, WebP)
      responses:
        "201":
          description: |
            Планировка загружена.
            
            ⚠️ **Сохраните `data.id`** - это floor_plan_id для дальнейших операций!
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FloorPlan"

  /floor-plans/{id}:
    get:
      tags: [floor-plans]
      summary: Получить планировку с моделью
      description: |
        Получить детальную информацию о планировке.
        
        **После успешного распознавания** в ответе будет поле `model` с полной 3D моделью планировки,
        включающей стены, комнаты, проёмы, мебель и инженерные коммуникации.
        
        Это позволяет получить все данные для 3D редактора в одном запросе.
        
        ⚠️ Если распознавание ещё не завершено, поле `model` будет отсутствовать.
      operationId: getFloorPlan
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID планировки (floor_plan_id). Получаете из POST /floor-plans
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные планировки с моделью (если распознана)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FloorPlan"

    patch:
      tags: [floor-plans]
      summary: Обновить планировку
      operationId: updateFloorPlan
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFloorPlanRequest"
      responses:
        "200":
          description: Планировка обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FloorPlan"

    delete:
      tags: [floor-plans]
      summary: Удалить планировку
      operationId: deleteFloorPlan
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Планировка удалена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /floor-plans/{id}/recognize:
    post:
      tags: [floor-plans, ai]
      summary: Запустить распознавание планировки
      description: |
        Запускает AI распознавание загруженной планировки.
        
        **Альтернатива:** POST /ai/recognize - если нужно передать изображение напрямую.
        
        После запуска используйте polling:
        - GET /ai/recognize/{job_id}/status - по job_id из ответа
        - GET /floor-plans/{id}/recognition-status - по floor_plan_id
      operationId: startFloorPlanRecognition
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID планировки (floor_plan_id)
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                create_scene:
                  type: boolean
                  default: true
                detect_furniture:
                  type: boolean
                  default: false
      responses:
        "202":
          description: Распознавание запущено
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      job_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: processing

  /floor-plans/{id}/recognition-status:
    get:
      tags: [floor-plans, ai]
      summary: Статус распознавания с моделью
      description: |
        Получить текущий статус задачи AI распознавания для планировки.
        
        ⚠️ **ВАЖНО:** В URL передаётся ID планировки (floor_plan_id), НЕ job_id!
        
        **При завершении распознавания** (status=completed) в ответе будет поле `model` 
        с полной 3D моделью планировки.
        
        Модель включает:
        - **bounds** - габариты квартиры
        - **elements.walls** - стены с проёмами
        - **elements.rooms** - комнаты с полигонами
        - **elements.furniture** - мебель и сантехника
        - **elements.utilities** - стояки и вентиляция
        
        Возвращает 404 если распознавание не было запущено для данной планировки.
      operationId: getFloorPlanRecognitionStatus
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID планировки (floor_plan_id), НЕ job_id задачи распознавания
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Статус распознавания с моделью
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecognitionStatus"

  /floor-plans/{id}/download-url:
    get:
      tags: [floor-plans]
      summary: Получить URL для скачивания
      operationId: getFloorPlanDownloadURL
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: URL для скачивания
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      expires_at:
                        type: string
                        format: date-time

  # ---------------------------------------------------------------------------
  # Branch Endpoints
  # ---------------------------------------------------------------------------
  /scenes/{scene_id}/branches:
    get:
      tags: [branches]
      summary: Список веток сцены
      description: |
        Ветки позволяют создавать разные варианты планировки в рамках одной сцены.
        
        **Пример использования:**
        1. Создаёте сцену из планировки
        2. Создаёте ветку "Вариант 1"
        3. Создаёте ветку "Вариант 2"
        4. Сравниваете ветки через /compare
        5. Мерджите лучший вариант в main
      operationId: listBranches
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          description: ID сцены
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [active, archived, merged]
      responses:
        "200":
          description: Список веток
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      branches:
                        type: array
                        items:
                          $ref: "#/components/schemas/Branch"

    post:
      tags: [branches]
      summary: Создать ветку
      operationId: createBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBranchRequest"
      responses:
        "201":
          description: Ветка создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

  /scenes/{scene_id}/branches/{id}:
    get:
      tags: [branches]
      summary: Получить ветку
      operationId: getBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          description: ID сцены
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          description: ID ветки (branch_id)
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Данные ветки
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

    patch:
      tags: [branches]
      summary: Обновить ветку
      operationId: updateBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBranchRequest"
      responses:
        "200":
          description: Ветка обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

    delete:
      tags: [branches]
      summary: Удалить ветку
      operationId: deleteBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Ветка удалена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /scenes/{scene_id}/branches/{id}/activate:
    post:
      tags: [branches]
      summary: Активировать ветку
      description: Делает ветку активной (текущей для редактирования)
      operationId: activateBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Ветка активирована
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

  /scenes/{scene_id}/branches/{id}/duplicate:
    post:
      tags: [branches]
      summary: Дублировать ветку
      operationId: duplicateBranch
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Название новой ветки
      responses:
        "201":
          description: Ветка продублирована
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

  /scenes/{scene_id}/branches/{id}/compare/{target_id}:
    get:
      tags: [branches]
      summary: Сравнить две ветки
      operationId: compareBranches
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          description: ID исходной ветки
          schema:
            type: string
            format: uuid
        - name: target_id
          in: path
          required: true
          description: ID целевой ветки для сравнения
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Результат сравнения
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BranchComparison"

  /scenes/{scene_id}/branches/{id}/merge:
    post:
      tags: [branches]
      summary: Слить ветки
      operationId: mergeBranches
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          description: ID исходной ветки (которая будет слита)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MergeBranchRequest"
      responses:
        "200":
          description: Ветки слиты
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Branch"

  # ---------------------------------------------------------------------------
  # AI Endpoints
  # ---------------------------------------------------------------------------
  /ai/recognize:
    post:
      tags: [ai]
      summary: Распознать планировку
      description: |
        Запускает AI распознавание планировки.
        
        **Можно передать:**
        - `floor_plan_id` - ID уже загруженной планировки
        - `image_base64` - изображение в base64 (data:image/jpeg;base64,...)
        
        **После запуска:**
        1. Получаете `job_id` в ответе
        2. Делаете polling: GET /ai/recognize/{job_id}/status
        3. Когда status="completed" - модель готова
        
        **Получить результат:**
        - GET /floor-plans/{floor_plan_id} → поле `model`
        - GET /floor-plans/{floor_plan_id}/recognition-status → поле `model`
      operationId: recognizeFloorPlan
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecognizeRequest"
      responses:
        "202":
          description: |
            Задача распознавания создана.
            
            ⚠️ **Важно:** Сохраните `job_id` из ответа для polling статуса!
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecognizeResponse"

  /ai/recognize/{job_id}/status:
    get:
      tags: [ai]
      summary: Статус распознавания по job_id
      description: |
        Получить статус задачи распознавания по её ID (job_id).
        
        ⚠️ **job_id получаете из ответа POST /ai/recognize**
        
        Используйте этот endpoint для polling статуса после запуска распознавания.
        
        Альтернатива: `/floor-plans/{floor_plan_id}/recognition-status` - 
        если знаете только ID планировки.
      operationId: getRecognitionStatus
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          description: |
            ID задачи распознавания (НЕ floor_plan_id!).
            Получаете из ответа POST /ai/recognize → data.job_id
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Статус задачи
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecognitionStatus"

  /ai/generate:
    post:
      tags: [ai]
      summary: Сгенерировать варианты планировки
      description: |
        AI генерирует несколько вариантов перепланировки на основе вашей сцены.
        
        **Как использовать:**
        1. Сначала создайте сцену с распознанной планировкой
        2. Запустите генерацию с scene_id
        3. Делайте polling: GET /ai/generate/{job_id}/status
        4. Получите варианты как отдельные ветки
      operationId: generateVariants
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateVariantsRequest"
      responses:
        "202":
          description: |
            Генерация запущена.
            
            Используйте job_id для polling: GET /ai/generate/{job_id}/status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateResponse"

  /ai/generate/{job_id}/status:
    get:
      tags: [ai]
      summary: Статус генерации
      operationId: getGenerationStatus
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Статус генерации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerationStatus"

  /ai/chat:
    post:
      tags: [ai]
      summary: Отправить сообщение AI-ассистенту
      description: |
        Чат с AI-ассистентом по планировке.
        
        **Примеры вопросов:**
        - "Можно ли снести стену между кухней и гостиной?"
        - "Как увеличить площадь ванной?"
        - "Предложи варианты перепланировки"
        
        **Для контекста** передавайте `scene_id` - AI будет учитывать вашу планировку.
      operationId: sendChatMessage
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatMessageRequest"
      responses:
        "200":
          description: Ответ AI
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatMessageResponse"
        "429":
          description: Превышен лимит запросов

  /ai/chat/history:
    get:
      tags: [ai]
      summary: История чата
      operationId: getChatHistory
      security:
        - BearerAuth: []
      parameters:
        - name: session_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: История сообщений
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatHistory"

    delete:
      tags: [ai]
      summary: Очистить историю чата
      operationId: clearChatHistory
      security:
        - BearerAuth: []
      parameters:
        - name: session_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: История очищена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /ai/context:
    get:
      tags: [ai]
      summary: Получить контекст AI
      description: Получить текущий контекст AI для сцены (информация о планировке)
      operationId: getAIContext
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: branch_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Контекст AI
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      context_id:
                        type: string
                      scene_summary:
                        type: string
                        description: Описание планировки для AI
                      context_size:
                        type: integer
                        description: Размер контекста в токенах
                      updated_at:
                        type: string
                        format: date-time
    post:
      tags: [ai]
      summary: Обновить контекст AI
      description: Принудительно обновить контекст AI после изменений в сцене
      operationId: updateAIContext
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scene_id
              properties:
                scene_id:
                  type: string
                  format: uuid
                branch_id:
                  type: string
                  format: uuid
                force:
                  type: boolean
                  default: false
                  description: Принудительное обновление
      responses:
        "200":
          description: Контекст обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      context_id:
                        type: string
                      updated:
                        type: boolean
                      context_size:
                        type: integer

  /scenes/{scene_id}/chat/messages/{message_id}/select:
    post:
      tags: [ai, scenes]
      summary: Выбрать вариант из предложенных AI
      description: Выбор варианта планировки из предложенных AI. Активирует соответствующую ветку.
      operationId: selectSuggestion
      security:
        - BearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: message_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID сообщения с вариантами
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - suggestion_index
              properties:
                suggestion_index:
                  type: integer
                  minimum: 0
                  maximum: 4
                  description: Индекс выбранного варианта (0-4)
      responses:
        "200":
          description: Вариант выбран и активирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      selected_branch_id:
                        type: string
                        format: uuid
                        description: ID активированной ветки
                      branch_activated:
                        type: boolean
                        description: Была ли ветка активирована
                      confirmation_message:
                        type: string
                        description: Подтверждающее сообщение от AI
        "400":
          description: Неверный индекс варианта
        "404":
          description: Сообщение не найдено

  # ---------------------------------------------------------------------------
  # Compliance Endpoints
  # ---------------------------------------------------------------------------
  /compliance/check:
    post:
      tags: [compliance]
      summary: Проверить соответствие нормам
      description: |
        Проверяет планировку на соответствие СНиП, ЖК РФ и другим нормам.
        
        **Что проверяется:**
        - Минимальные площади комнат
        - Расположение мокрых зон
        - Несущие стены
        - Вентиляция и инженерные коммуникации
        
        **Результат:** список нарушений с рекомендациями
      operationId: checkCompliance
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceCheckRequest"
      responses:
        "200":
          description: Результат проверки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceCheckResponse"

  /compliance/check-operation:
    post:
      tags: [compliance]
      summary: Проверить операцию на соответствие
      description: Проверяет конкретную операцию (снос стены, перенос и т.д.) до её выполнения
      operationId: checkOperation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckOperationRequest"
      responses:
        "200":
          description: Результат проверки операции
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceCheckResponse"

  /compliance/rules:
    get:
      tags: [compliance]
      summary: Список правил
      operationId: listComplianceRules
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: is_active
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Список правил
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rules:
                        type: array
                        items:
                          $ref: "#/components/schemas/ComplianceRule"

  /compliance/rules/{id}:
    get:
      tags: [compliance]
      summary: Получить правило
      operationId: getComplianceRule
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Данные правила
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ComplianceRule"

  /compliance/report:
    post:
      tags: [compliance]
      summary: Сгенерировать отчет
      description: Генерирует PDF/HTML отчет о соответствии планировки нормам
      operationId: generateComplianceReport
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateReportRequest"
      responses:
        "200":
          description: Отчет сгенерирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      report_id:
                        type: string
                        format: uuid
                      download_url:
                        type: string
                        format: uri
                      expires_at:
                        type: string
                        format: date-time

  # ---------------------------------------------------------------------------
  # Request (Expert) Endpoints
  # ---------------------------------------------------------------------------
  /requests:
    get:
      tags: [requests]
      summary: Список заявок
      operationId: listRequests
      security:
        - BearerAuth: []
      parameters:
        - name: workspace_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum:
              [
                draft,
                pending,
                in_review,
                approved,
                rejected,
                assigned,
                in_progress,
                completed,
                cancelled,
              ]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Список заявок
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      requests:
                        type: array
                        items:
                          $ref: "#/components/schemas/ExpertRequest"
                      pagination:
                        $ref: "#/components/schemas/Pagination"

    post:
      tags: [requests]
      summary: Создать заявку
      operationId: createRequest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExpertRequestRequest"
      responses:
        "201":
          description: Заявка создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ExpertRequest"

  /requests/{id}:
    get:
      tags: [requests]
      summary: Получить заявку
      operationId: getRequest
      security:
        - BearerAuth: []
      parameters:
        - name: id
[...]
